<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="../img/ctulogo.jpg">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Giới Thiệu</title>
</head>

<body>
<header id="top">
    <div class='logo'>
        <a href="trangchu.html">
            <img class='logo' src="../img/longlogo.png"></a>
    </div>
    <div class="nav">
        <a href="trangchu.html">Trang chủ</a>
        <a href="gioithieu.html">Giới Thiệu</a>
        <a href="tailieu.html">Tài Liệu</a>
        <a href="lienhe.html">Liên Hệ</a>

    </div>
</header>
<main>
    <h1>Giới Thiệu Môn Học</h1>
    <div class="pdf-container">
        <embed src="../tailieu/CT121.pdf" type="application/pdf" width="90%" height="700px">
    </div>

    <!---->
    <div id="rasa-chat-widget" data-websocket-url="http://localhost:5005/"></div>
    <script src="https://unpkg.com/@rasahq/rasa-chat" type="application/javascript"></script>
</main>

<footer>
    <p>&copy <b> 2023 Bản quyền thuộc về CTU. </b>
        <a href="#"><i class="icon fab fa-facebook-f"></i></a>
        <a href="#"><i class="icon fab fa-twitter"></i></a>
    </p>
</footer>
</body>

</html>