<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>TIN HỌC LÝ THUYẾT</title>
  <link rel="shortcut icon" href="https://elearning.ctu.edu.vn/pluginfile.php/1/theme_lambda/favicon/1692676992/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
  <header>
    <img src="https://elearning.ctu.edu.vn/pluginfile.php/1/theme_lambda/favicon/1692676992/favicon.ico" width="100" alt="logo">
    <nav>
      <ul>
        <li><a href="trangchu.html.html">Trang chủ</a></li>
        <li><a href="tools.html">Công cụ</a></li>
        <li><a href="docs.html">Tài liệu</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h1>Trang chủ</h1>
    <p>Nội dung trang chủ...</p>
    <div id="rasa-chat-widget" data-websocket-url="http://localhost:5005/"></div>
    <script src="https://unpkg.com/@rasahq/rasa-chat" type="application/javascript"></script>
  </main>

  <footer>
    <p>Bản quyền &copy; 2022 Giao diện web</p>
  </footer>
</body>
</html>